* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trirong", serif;
    font-size: 20px;
}

.container {
    width: 800px;
    height: 900px;
    border: 3px solid rgb(27, 114, 78);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.box {
    text-align: center;
    width: 150px;
    height: 200px;
    background: rgb(46, 7, 7);
    font-size: 70px;
    margin: 10px;
    color: beige;
}

.box-1 {
    order: 1;
}

.box-2 {
    order: 2;
}

.box-3 {
    order: 3;
}