* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.tag {
    width: 100%;
    height: 52px;
    display: flex;
    background: #ffffff;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #dcdcdc;
}

.john {
    width: 159px;
    height: 51px;
}

.list {
    width: 100%;
    height: 52px;
    display: flex;
    flex-wrap: nowrap;
    background: #ffffff;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

.list ul {
    width: 100%;
    text-decoration: none;
    float: left;
    justify-content: center;
    padding-left: 31%;
    padding-right: 21%;
}

.list ul li {
    float: left;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.list ul li a {
    font-family: "Tangerine";
    font-size: 21px;
    color: black;
    padding: 10px;
    border-right: 1px solid #dcdcdc;
    text-decoration: none;
    float: left;
}

.banner {
    width: 100%;
}

.wed {
    width: 100%;
    height: 400px;
    padding: 215px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: #fff1ee;
}

.box {
    width: 200px;
}

.thankyou {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-family: "Tangerine";
    color: black;
}

.thankyou p {
    font-family: "Trirong";
    color: black;
}

.end {
    width: 100%;
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: #fff1ee;
}

.caro {
    width: 270px;
    margin: 20px;
}

.caro h1 {
    font-family: "Tangerine", serif;
    color: black;
}

.caro h2 {
    font-family: "Tangerine", serif;
    color: #1f4ea0;
}

.caro img {
    width: 100%;
}

.footer {
    width: 100%;
    height: 50px;
    background: #1f4ea0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.footer ul {
    color: #ffffff;
    width: 100%;
    float: left;
    justify-content: center;
    padding-left: 31%;
    padding-right: 21%;
}

.footer ul li {
    color: #ffffff;
    float: left;
    display: flex;
    justify-content: center;
}

.footer ul li a {
    margin-right: 21px;
    color: #ffffffb5;
    float: left;
    display: flex;
    justify-content: center;
}

@media(max-width:1024px) {
    .list ul {
        width: 100%;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
    .wed {
        width: 100%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        background: #fff1ee;
    }
    .end {
        width: 100%;
        height: 474px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        background: #fff1ee;
    }
}

@media(max-width:768px) {
    .list ul {
        padding: o;
    }
    .list ul li a {
        font-family: "Tangerine", serif;
        font-size: 12px;
        color: black;
        padding: 10px;
        border-right: 1px solid #dcdcdc;
        text-decoration: none;
        float: left;
    }
    .box {
        width: 137px;
    }
    .end {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        background: #fff1ee;
    }
    .caro {
        width: 200px;
        margin: auto;
    }
}

@media(max-width:540px) {
    .list {
        width: 100%;
        height: 23px;
        display: flex;
        flex-wrap: nowrap;
        background: #ffffff;
    }
    .list ul li a {
        font-family: "Tangerine", serif;
        font-size: 11px;
        color: black;
        padding: 2px;
        border-right: 1px solid #dcdcdc;
        text-decoration: none;
    }
    .wed {
        padding: 0;
        width: 100%;
        height: 394px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        background: #fff1ee;
    }
    .box {
        margin: 5px;
        width: 137px;
    }
    .caro h1,
    h2 {
        font-size: 27px;
    }
}

@media(max-width:375px) {
    .end {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 1134px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        background: #fff1ee;
    }
    .thankyou {
        width: 100%;
        height: 245px;
        text-align: center;
    }
    .footer ul {
        color: #ffffff;
        width: 100%;
        padding: 0;
        display: flex;
    }
    .footer ul li a {
        font-size: 10px;
        margin-right: 15px;
        color: #ffffffb5;
        float: left;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:320px) {
    .john {
        width: 120px;
        height: 28px;
    }
    .tag {
        height: 31px;
    }
    .list {
        height: 18px;
    }
    .list ul li a {
        font-size: 6px;
        padding: 1px;
    }
    .thankyou {
        width: 100%;
        height: 275px;
        text-align: center;
    }
    .wed {
        padding: 0;
    }
    .end {
        height: 1185px;
    }
    .footer {
        height: 25px;
    }
    .footer ul {
        color: #ffffff;
        width: 100%;
        display: flex;
        padding: 0;
    }
    .footer ul li a {
        margin-right: 10px;
        color: #ffffffb5;
        display: flex;
        font-size: 10px;
    }
}

div#mybtn {
    padding: 15px;
    position: fixed;
    line-height: 3;
    width: 76px;
    height: 76px;
    bottom: 14px;
    right: 22px;
    background: #dfb1a681;
    color: rgb(58, 51, 51);
    border-radius: 99px;
    cursor: pointer;
}

div#menu ul li {
    display: inline-block;
    width: 27%;
    border-bottom: #1f4ea0 1px solid;
    text-decoration: none;
    background: #dfb1a681;
    color: black;
}